.header__logo {
  max-height: 33px;
  padding-bottom: 39px;
}

@media (max-width: 928px) {
  .header__logo {
    padding-left: 19px;
  }
}

@media (max-width: 320px) {
  .header__logo {
    max-width: 103px;
    padding: 0;
    margin: 20px 0 29px 0;
  }
}
