.card__count-like {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  max-width: 50px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
